# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import warnings 
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
first = np.random.randint(1,4,100)
second = np.random.randint(1,3,100)
third = np.random.randint(10000,30000,100)

In [3]:
first = pd.Series(first)
second = pd.Series(second)
third = pd.Series(third)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
data = pd.concat([first, second, third], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [7]:
data.columns = ["bedrs", "bathrs", "price_sqr_meter"]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [9]:
bigcolumn = pd.concat([first, second, third])

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [10]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [13]:
bigcolumn.reset_index(drop=True, inplace=True)

In [15]:
bigcolumn.to_frame()

         0
0        3
1        3
2        2
3        2
4        3
..     ...
295  15017
296  21389
297  16099
298  18016
299  20668

[300 rows x 1 columns]